<div class="hidden">
  <a id="buyTrigger" onclick={{action "setType" 'buy'}}></a>
  <a id="noBuyTrigger" onclick={{action "setType" 'nobuy'}}></a>
  <a id="reBuyTrigger" onclick={{action "setType" 'rebuy'}}></a>
  <a id="needBuyTrigger" onclick={{action "setType" 'needbuy'}}></a>
  <a id="buyConfirmTrigger" data-toggle="xsd-modal" data-target="#upgradeConfirm"></a>
</div>
<div class="xsd-modal xsd-md-modal" id="upgradeConfirm" >
  <div class="xsd-modal-header">
    <a class="xsd-modal-close iconfont">&#xe633;</a>
  </div>
  <div class="xsd-modal-body">
    <h3 class="content">确认申请购买金水滴会员？</h3>
  </div>
  <div class="xsd-modal-bottom xsd-clearfix">
    <a class="xsd-btn xsd-pull-right xsd-btn-primary xsd-modal-close" onclick={{action 'confirm'}}>购买</a>
    <a class="xsd-btn xsd-btn-gray xsd-modal-close xsd-pull-right">取消</a>
  </div>
</div>
<!--购买弹窗-->
<div class="xsd-modal xsd-md-modal" id="publicModal" >
	<div class="xsd-modal-header">
		<span class="xsd-font-size16">{{title}}</span><a class="xsd-modal-close iconfont">&#xe633;</a>
	</div>
	<div class="xsd-modal-body">
		<p class="content">
			{{desc}}
		</p>
	</div>
	<div class="xsd-modal-bottom xsd-clearfix">
		  <a class="xsd-btn xsd-btn-primary xsd-pull-right xsd-modal-close" onclick={{action "clickModalBtn"}}>{{btn_tip}}</a>
	</div>
</div>