{{#page-waper}}
    <div class="xsd-clearfix">
        <div id="screen" class="xsd-pull-left">
          {{#report-search types=types tips=type}}{{/report-search}}
        </div>
        <div id="report" class="xsd-pull-left">
            <div id="no-Result-datal" >
                <div id="Result-head">
                    <label class="xsd-input-group xsd-select xsd-margin-b16 xsd-Result-head">
                        <i class="iconfont">&#xe63c;</i>
                        <input class="xsd-input" id="day_select_year" type="text" data-value=""
                               readonly placeholder="年" onchange={{action 'getDayReport'}}>
                        <ul>
                            <li data-value="2017">2017年</li>
                            <li data-value="2018">2018年</li>
                            <li data-value="2019">2019年</li>
                            <li data-value="2020">2020年</li>
                            <li data-value="2021">2021年</li>
                            <li data-value="2022">2022年</li>
                            <li data-value="2023">2023年</li>
                            <li data-value="2024">2024年</li>
                            <li data-value="2025">2025年</li>
                        </ul>
                    </label>
                    <label class="xsd-input-group xsd-select xsd-margin-b16 xsd-Result-head">
                        <i class="iconfont">&#xe63c;</i>
                        <input class="xsd-input" id="day_select_month" type="text" data-value=""
                               readonly placeholder="月" onchange={{action 'getDayReport'}}>
                        <ul id="month-report-list">
                            <li data-value="1" onclick={{action "selectTime" 1}}>1月</li>
                            <li data-value="2" onclick={{action "selectTime" 3}}>2月</li>
                            <li data-value="3" onclick={{action "selectTime" 1}}>3月</li>
                            <li data-value="4" onclick={{action "selectTime" 2}}>4月</li>
                            <li data-value="5" onclick={{action "selectTime" 1}}>5月</li>
                            <li data-value="6" onclick={{action "selectTime" 2}}>6月</li>
                            <li data-value="7" onclick={{action "selectTime" 1}}>7月</li>
                            <li data-value="8" onclick={{action "selectTime" 1}}>8月</li>
                            <li data-value="9" onclick={{action "selectTime" 2}}>9月</li>
                            <li data-value="10" onclick={{action "selectTime" 1}}>10月</li>
                            <li data-value="11" onclick={{action "selectTime" 2}}>11月</li>
                            <li data-value="12" onclick={{action "selectTime" 1}}>12月</li>
                        </ul>
                    </label>
                    <label class="xsd-input-group xsd-select xsd-margin-b16 xsd-Result-head">
                        <i class="iconfont">&#xe63c;</i>
                        <input class="xsd-input" id="day_select_day" type="text" data-value=""
                               readonly placeholder="日" onchange={{action 'getDayReport'}}>
                        <ul id="day-report-list">
                            <li data-value="1">1日</li>
                            <li data-value="2">2日</li>
                            <li data-value="3">3日</li>
                            <li data-value="4">4日</li>
                            <li data-value="5">5日</li>
                            <li data-value="6">6日</li>
                            <li data-value="7">7日</li>
                            <li data-value="8">8日</li>
                            <li data-value="9">9日</li>
                            <li data-value="10">10日</li>
                            <li data-value="11">11日</li>
                            <li data-value="12">12日</li>
                            <li data-value="13">13日</li>
                            <li data-value="14">14日</li>
                            <li data-value="15">15日</li>
                            <li data-value="16">16日</li>
                            <li data-value="17">17日</li>
                            <li data-value="18">18日</li>
                            <li data-value="19">19日</li>
                            <li data-value="20">20日</li>
                            <li data-value="21">21日</li>
                            <li data-value="22">22日</li>
                            <li data-value="23">23日</li>
                            <li data-value="24">24日</li>
                            <li data-value="25">25日</li>
                            <li data-value="26">26日</li>
                            <li data-value="27">27日</li>
                            <li data-value="28">28日</li>
                          {{#if year_select_day}}
                            <li data-value="29">29日</li>
                          {{/if}}
                          {{#if month_select_day}}
                            <li data-value="30">30日</li>
                          {{#if month_select_days}}
                            <li data-value="31">31日</li>
                           {{/if}}
                          {{/if}}

                        </ul>
                    </label>
                    {{#if auth.e_power.reports_busi_exp}}
                    <a class="xsd-btn xsd-btn-primary Result-head-right-btn"
                       href="{{config.apiUrl1}}dailyreports/download?token={{auth.authToken.access_token}}&date={{start_date}}">导出报表</a>
                    {{/if}}
                </div>
              <!--有营业报表权限-->
              {{#if auth.e_power.reports_busi_view}}
                {{#if day_report}}
	                <div id="Result-data">
		                <h1 class="result-data-head">{{day_report_month}}月{{day_report_day}}日运营报告</h1>
		                <h1 class="result-data-sb-head">运营状况</h1>
		                <h1 class="result-data-sb-title"><span></span>房源状况</h1>
		                <div class="dl-container">
			                <dl>
				                <dt>总房间数</dt>
				                <dd>
					                <p>{{day_report.total}}间</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>新增房间数</dt>
				                <dd>
					                <p>{{day_report.new}}间</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>删除房间数</dt>
				                <dd>
					                <p>{{day_report.delete}}间</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>在租房间数</dt>
				                <dd>
					                <p>{{day_report.rent}}间</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>入住率</dt>
				                <dd>
					                <p>{{day_report.occupancy_rate}}%</p>
				                </dd>
			                </dl>
		                </div>
		                <div class="dl-container dl-container2">
			                <dl>
				                <dt>空置房间数</dt>
				                <dd>
					                <p>{{day_report.empty}}间</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>新租房间</dt>
				                <dd>
					                <p>{{day_report.new_contract}}间</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>续租房间</dt>
				                <dd>
					                <p>{{day_report.renew_times}}间</p>

				                </dd>
			                </dl>
			                <dl>
				                <dt>平均出房价格</dt>
				                <dd>
					                <p>{{day_report.average_price}}元</p>
				                </dd>
			                </dl>

		                </div>
		                <h1 class="result-data-sb-title result-data-sty-title"><span></span>业务情况</h1>
		                <div class="dl-container dl-container3">
			                <dl>
				                <dt>新增客户数</dt>
				                <dd>
					                <p>{{day_report.new_customer}}人</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>跟进中</dt>
				                <dd>
					                <p>{{day_report.follow_customer}}人</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>签约数</dt>
				                <dd>
					                <p>{{day_report.sign_customer}}人</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>业务处理率</dt>
				                <dd>
					                <p>{{day_report.business_customer}}%</p>
				                </dd>
			                </dl>
		                </div>
		                <h1 class="result-data-sb-title result-dat-sty-title"><span></span>账单情况</h1>
		                <div class="dl-container">
			                <dl>
				                <dt>总账单数</dt>
				                <dd>
					                <p>{{day_report.total_bill}}个</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>应收款账单数</dt>
				                <dd>
					                <p>{{day_report.receivable_bill}}个</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>应付款账单数</dt>
				                <dd>
					                <p>{{day_report.payable_bill}}个</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>待收款账单数</dt>
				                <dd>
					                <p>{{day_report.unreceived_bill}}个</p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>待付款账单数</dt>
				                <dd>
					                <p>{{day_report.unpaid_bill}}个</p>
				                </dd>
			                </dl>
		                </div>
		                <h1 class="result-data-sb-head result-data-sty-head">财务情况<span>（流水）</span></h1>
		                <div class="result-dl-finance">
			                <dl>
				                <dt>当日现金收支</dt>
				                <dd>
					                <p>应收已收：<span>{{day_report.receivable_fee}}元</span></p>
					                <p>应收未收：<span>{{day_report.unreceived_fee}}元</span></p>
					                <p>回款率：<span>{{day_report.returned_rate}}%</span></p>
				                </dd>
			                </dl>
			                <dl>
				                <dt>现金收入</dt>
				                <dd>
					                <p>现金总收入：{{day_report.total_income}}元</p>
					                <div><b>其中：</b>
						                <div>
							                <p>租金收入：<span>{{day_report.rental_income}}元</span></p>
							                <p>押金收入：<span>{{day_report.deposit_income}}元</span></p>
							                <p>杂费收入：<span>{{day_report.utilities_income}}元</span></p>
						                </div>
					                </div>

				                </dd>
			                </dl>
		                </div>
		                <div class="result-dl-finance">
			                <dl>
				                <dt>现金支出</dt>
				                <dd>
					                <p>现金总支出：{{day_report.total_outlay}}元</p>
					                <div><b>其中：</b>
						                <div>
							                <p>租金支出：<span>{{day_report.rental_outlay}}元</span></p>
							                <p>押金支出：<span>{{day_report.deposit_outlay}}元</span></p>
							                <p>杂费支出：<span>{{day_report.utilities_outlay}}元</span></p>
						                </div>
					                </div>
				                </dd>
			                </dl>
			                <dl>
				                <dt>明日租金预期</dt>
				                <dd>
					                <p>预计租金收支差：{{day_report.forecast_exposure}}元</p>
					                <p><span>加：预计租金收入：{{day_report.forecast_income}}元</span></p>
					                <p><span>减：预计租金支出：{{day_report.forecast_outlay}}元</span></p>
				                </dd>
			                </dl>
		                </div>
	                </div>
                {{else}}
	                <div class="xsd-tab-content xsd-margin-b24">
		                <div class="nav">
			                <div class="xsd-pull-left">
				                <img src="images/user/blueLogo.png">
			                </div>
			                <!--<div class="xsd-pull-right">
                          <a class="xsd-btn xsd-btn-primary"
                             href="{config.apiUrl1}}monthreports/download?token={auth.authToken.access_token}}&date={date}}">导出报表</a>
                      </div>-->
		                </div>
		                <div id="xsd-noResult">
			                <p><i class="iconfont"><img class="xsd-imgWidth" src="images/report.png"></i></p>
			                <p>抱歉，没有经营状况报表！</p>
		                </div>

	                </div>
                {{/if}}
              {{else}}
	              <div class="xsd-tab-content xsd-margin-b24">
		              <div class="nav">
			              <div class="xsd-pull-left">
				              <img src="images/user/blueLogo.png">
			              </div>
			              <!--<div class="xsd-pull-right">
                        <a class="xsd-btn xsd-btn-primary"
                           href="{config.apiUrl1}}monthreports/download?token={auth.authToken.access_token}}&date={date}}">导出报表</a>
                    </div>-->
		              </div>
		              <div id="xsd-noResult">
			              <p><i class="iconfont"><img class="xsd-imgWidth" src="images/report.png"></i></p>
			              <p>抱歉，您没有权限！</p>
		              </div>

	              </div>
              {{/if}}

            </div>

        </div>
    </div>
{{/page-waper}}
